[Unit]
Description=Timer periódico do Jukebox OTA Agent

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
